<div class="header">
  <div class="container">
    <h1 class="header-heading">Anatole France</h1>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="main">
      <hr>
      <p>"J’ai toujours préféré la folie des passions à la sagesse de l’indifférence." </p>
    </div>
  </div>
</div>