<div class="header">
  <div class="container">
    <h1 class="header-heading">AWS SAA CHEAT SHEET</h1>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="main">
      <hr>
      <p>Posted on August 2018</p>
      <hr>
      <%= render partial: "blog/index_markdown" %>
    </div>

    <div class="aside">
      <h3>FAQs</h3>
      <ul>
        <li><a href="https://aws.amazon.com/s3/faqs/" target="_blank">S3</a></li>
        <li><a href="https://aws.amazon.com/iam/faqs/" target="_blank">IAM</a></li>
        <li><a href="https://aws.amazon.com/sqs/faqs/" target="_blank">SQS</a></li>
        <li><a href="https://aws.amazon.com/swf/faqs/" target="_blank">SWF</a></li>
        <li><a href="https://aws.amazon.com/sns/faqs/" target="_blank">SNS</a></li>
        <li><a href="https://aws.amazon.com/kinesis/data-streams/faqs/" target="_blank">KINESIS</a></li>
        <li><a href="https://aws.amazon.com/ecs/faqs/" target="_blank">ECS</a></li>
        <li><a href="https://aws.amazon.com/rds/faqs/" target="_blank">RDS</a></li>
        <li><a href="https://aws.amazon.com/ec2/faqs/" target="_blank">EC2</a></li>
        <li><a href="https://aws.amazon.com/storagegateway/faqs/" target="_blank">Storage Gateway</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">&copy;smndiaye Copyright 2018</div>
</div>